@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("fonts/AtkinsonHyperlegible-400-latin.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("fonts/AtkinsonHyperlegible-700-latin.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Sassoon Primary";
  src: url("fonts/SassoonPrimary.woff2") format("woff2"),
       url("fonts/SassoonPrimary.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

:root {
  font-family: "Atkinson Hyperlegible", Arial, sans-serif;
}

#content {
  font-family: "Sassoon Primary", "Atkinson Hyperlegible", Arial, sans-serif;
}
